* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.inner-divs {
	width: 89%;
	height: 89%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.one {
	width: 100%;
	height: 100vh;
	background-color: #fff;
	z-index: 1;
	position: relative;
}

.two {
	background-color: #f7f7f7;
	z-index: 2;
}

.three {
	background-color: #eee;
	z-index: 3;
}

.four {
	background-color: #e6e6e6;
	z-index: 4;
}

.five {
	background-color: #ddd;
	z-index: 5;
}

.six {
	background-color: #d5d5d5;
	z-index: 6;
}

.seven {
	background-color: #ccc;
	z-index: 7;
}

.eight {
	background-color: #c4c4c4;
	z-index: 8;
}

.nine {
	background-color: #bbb;
	z-index: 9;
}

.ten {
	background-color: #b3b3b3;
	z-index: 10;
}

.eleven {
	background-color: #aaa;
	z-index: 11;
}

.twelve {
	background-color: #a2a2a2;
	z-index: 12;
}

.thirteen {
	background-color: #999;
	z-index: 13;
}

.fourteen {
	background-color: #919191;
	z-index: 14;
}

.fifteen {
	background-color: #888;
	z-index: 15;
}

.sixteen {
	background-color: #808080;
	z-index: 16;
}

.seventeen {
	background-color: #777;
	z-index: 17;
}

.eighteen {
	background-color: #6f6f6f;
	z-index: 18;
}

.nineteen {
	background-color: #666;
	z-index: 19;
}

.twenty {
	background-color: #5e5e5e;
	z-index: 20;
}

.twentyOne {
	background-color: #555;
	z-index: 21;
}

.twentyTwo {
	background-color: #4d4d4d;
	z-index: 22;
}

.twentyThree {
	background-color: #444;
	z-index: 23;
}

.twentyFour {
	background-color: #3c3c3c;
	z-index: 24;
}

.twentyFive {
	background-color: #333;
	z-index: 25;
}

.twentySix {
	background-color: #2b2b2b;
	z-index: 26;
}

.twentySeven {
	background-color: #222;
	z-index: 27;
}

.twentyEight {
	background-color: #1a1a1a;
	z-index: 28;
}

.twentyNine {
	background-color: #111;
	z-index: 29;
}

.thirty {
	background-color: #090909;
	z-index: 30;
}

.thirtyOne {
	background-color: #000;
	z-index: 31;
}